@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-Regular.woff2') format('woff2'),
      url('./fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-Bold.woff2') format('woff2'),
      url('./fonts/LibreFranklin-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('./fonts/RubikMonoOne-Regular.woff2') format('woff2'),
      url('./fonts/RubikMonoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



:root {
  --fg: #344bde;
  --bg: #efefef;
  --link: #344bde;
  --link-hover: #FF4013; 
}

html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
}

body {
  background: var(--bg);
  color: var(--fg);
}

h1, h2 {
  font-family: 'Rubik Mono One', Helvetica, sans-serif;
  font-weight: normal;
}

h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  margin-top: 3rem;
  font-size: 1rem;
}

section {
  margin: 2rem;
}

section:first-child {
  margin-top: 6rem;
  /* border-top: 1px solid #333; */
}

section {
  border-top: 1px solid var(--fg);
}

p {
  line-height: 1.7rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

img { 
  width: 100%;
}

@media (min-width: 1024px) { 
  section {
    margin: 4rem 7rem;
  }

  section:first-child {
    margin-top: 14rem;
  }

  article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  h3 {
    margin-top: 0;
  }

  img {
    width: 16rem;
    margin-right: 2rem;
  }
}